html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: #036;
  color: white;
  line-height: 1.33;
}
header {
  padding: 16px 32px;
  background: white;
  color: black;
  text-align: right;
  font-family: 'Princess Sofia', cursive;
  font-size: 3em;
}
header h1 {
  display: inline-block;
}
.page {
   min-height: 100%;
   position: relative;
}
.content {
   padding-bottom: 4em;
   display: flex;   
   flex-wrap: wrap;
}
.left {
  flex: 1;
}
.middle {
  flex: 2;
}
footer {
  box-sizing: border-box;
  position:absolute;
  bottom: 0;
  left: 0;
  height: 2.83em;
  width: 100%;
  text-align: center;
  background: black;
}
footer a {
  box-sizing: border-box;
  padding: .75em .4em;
  height: 2.83em;
  display: inline-block;
  text-decoration: none;
  color: white;
}
footer a:hover {
  background: white;
  color: black;
}
.block {
  box-sizing: border-box;
  border: orange solid 2px;
  padding: 8px 16px;
  min-width: 276px;
  max-width: 40em;
  margin: 6px;
  background: #333;
  color: orange;
}
.block h1 {
  text-align: center;
  font-size: 1.5em;
}
.html h2 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5em;
}
p::first-letter {
  font-family: 'Princess Sofia', cursive;
  font-size: 1.5em;
}
ul {
  text-align: center;
}
li {
  margin: 4px;
  font-size: 1.2em;
}
.wiki {
  border: antiquewhite solid 2px;
  background: #165c91;
  color: white;
  text-align: justify;
  text-indent: 3em;
  font-size: .8em;
}
.wiki::after {
  display: inline-block;
  width: 100%;
  text-align: right;
  content: " ~Wikipedia";
  font-size: 1.6em;
}