<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>A Playful Life : Home</title>
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link rel="stylesheet" href="./stylesheets/identity_main.css">
    <link href="https://fonts.googleapis.com/css?family=Princess+Sofia" rel="stylesheet">
  </head>
  <body>
    <header>{site_header} {page_header}</header>
    <div class=page>
		{page_body}
	</div>
    <div class=navigation>{site_navigation} ∪ {page_navigation}</div>
  </body>
</html>
